h2{
    font-size: 3.5rem;
    font-weight: 700;
}


.landingPage{
    text-align: center;
    height: 100%;
}

.button {
    text-decoration: none;
    border: 2px solid;
    padding: 20px 40px;
    border-radius: 20px;
    font-size: 2rem;
}


.button:hover{
    background-color: blueviolet;
    color: whitesmoke;
}